.login-wrapper
    img.center-logo(src='./img/Logo_1.svg', alt='logo goes here')
    form.center-inputs
        .input-row
            input#name_input.log-input(type='text', placeholder='Username', required='')
            label(for='name_input') 
            span.invalid_msg Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .input-row
            input#pw_input.pw-input(type='password', placeholder='Password', required='')
            label(for='pw_input') 
        button.submit(type='submit') Log in


