.work .category {

    border-color: #ffb200;
}

.education .category {

    border-color: #00d4d9;

}
.sport .category{

    border-color: #b470d0;

}
.hobby .category {

    border-color: #e16c65;

}
.other .category{

    border-color: #59abe3;
}
