.button-blue{
    background-color: #59ABE3;
}

.button-blue:hover,.button-blue:focus{
    background-color: #368BC5;
}

.button-blue:active{
    background-color: #82C7E0;
}

.button-green{
    background-color: #1ABC9C;
}

.button-green:hover,.button-green:focus{
    background-color: #16A085;
}
.button-green:active{
    background-color: #62D3BD;
}
.button-red{
    background-color: #f15a4a;
}
.button-red:hover,.button-red:focus{
    background-color: #c94d47;
}
.button-red:active{
    background-color: #f99595;
}

.ico-text-button{
    color: #8da5b8;
    position: relative;
}
.ico-text-button:hover{
    color: white;
}
.interface-container-3 .ico-text-button:hover {
    color: white;
}
.ico-text-button:active,.ico-text-button:active{
    color: #59ABE3;
}

.tip{
    font-size: 12px;
    background: #ccdce8;
    width: 127px;
    color: #566978;
    font-weight: bold;
    text-align: center;
    height: 30px;
    position: absolute;
    border-radius: 6px;
    line-height: 30px;
}

.tip::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 30px;
    border: 5px solid transparent;
    border-bottom: 5px solid #ccdce8;
}

.tip-in{
    position: relative;
}

.active-tab{
    color: white;
}

