body {
    background-color: #2a3f50;
    width: 100%;
}

.wrapper {
    max-width: 1366px;
    padding-top: 7%;
    margin: 0 auto;
}

.main-head-title {
    clear: both;
    font: 28px "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
}

.sub-title {
    font: 20px "Roboto", sans-serif;
    text-align: center;
    width: 100%;
    color: #8198ab;
    margin-top: 17px;
    margin-bottom: 81px;
    position: relative;
}

.interface-container-2 {
    position: absolute;
    right: 6.7%;
    color: white;
    top: 0;
}

.interface-container-2 .ico-text-button {
    color: #8da5b8;
    cursor: pointer;
    font: 15px "Roboto", sans-serif;
}

.main-content {
    padding: 0 22.1%;
    padding-right: 14.2%;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.main-content i {
    margin-right: 2.4%;
}

.select-field {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid #8da5b8;
    text-align: center;
    padding-bottom: 4px;
    width: 40%;
}

.option {
    width: 38.8%;
    margin-right: 10.7%;
    display: inline-block;
    margin-bottom: 5.5%;
    box-sizing: border-box;

}

.option label {
    position: relative;
    width: 59%;
}

.minus-count {
    position: absolute;
    left: 3%;
    color: #8da5b8;
    font-size: 11px;
    top: 0;
    font-family: icomoon;
    cursor: pointer;
}

.plus-count {
    position: absolute;
    right: 1%;
    color: #8da5b8;
    font-family: icomoon;
    font-size: 11px;
    top: 0;
    cursor: pointer;
}

.plus-count:hover {
    color: white;
}

.minus-count:hover {
    color: white;
}

.minus-count:hover + input, .plus-count:hover ~ input {
    border-color: white;
}

.opt-details {
    color: #8198ab;
    margin-top: 12px;
    margin-left: 9.6%;
}

.opt-title {
    display: inline-block;
    width: 40%;
}

.graph-head {
    font: 20px Ptsans, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 9.2%;
}

.button-holder {
    width: 21.2%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.button-1 {
    color: white;
    width: 44%;
    padding: 12px 0;
}

.button-2 {
    color: white;
    width: 44%;
    padding: 12px 0;
}

/*settings-2*/

.categories-choose-wrap {
    width: 19.8%;
    color: #5b7284;
    margin: 0 auto;
    font: 16px "Roboto", sans-serif;
    margin-bottom: 7%;
}

.categories-choose-list {
    padding-left: 14%;
}

.categories-choose-list li {
    margin-bottom: 15%;
    position: relative;
}

.categories-choose-list input {
    display: none;
}

.label1, .label2, .label3, .label4, .label5 {
    width: 19px;
    height: 19px;
    position: absolute;
    left: -17%;
    top: 0;
    cursor: pointer;
}

.label1 {
    background: url(../img/ico-sprite.png) no-repeat 0 -19px;
}

.label2 {
    background: url(../img/ico-sprite.png) no-repeat -18px -19px;
}

.label3 {
    background: url(../img/ico-sprite.png) no-repeat -36px -19px;
}

.label4 {
    background: url(../img/ico-sprite.png) no-repeat -54px -19px;
}

.label5 {
    background: url(../img/ico-sprite.png) no-repeat -72px -19px;
}

.text-label {
    border-bottom: 1px solid #5b7284;
    width: 100%;
    display: inline-block;
    padding-bottom: 7px;
    cursor: pointer;
}

input:checked ~ .text-label {
    border-color: white;
    color: white;
}

input:hover ~ .text-label {
    border-color: white;
    color: white;
}

input:checked ~ .label1 {
    background-position: 0 0;
}

input:checked ~ .label2 {
    background-position: -18px 0;
}

input:checked ~ .label3 {
    background-position: -36px 0;
}

input:checked ~ .label4 {
    background-position: -54px 0;
}

input:checked ~ .label5 {
    background-position: -72px 0;
}

.categories-choose-list li:hover {
    border-color: white;
    color: white;
}

