body{
    background-color: #2a3f50;
    width: 100%;
}
.wrapper{
    max-width: 1366px;
}
.main-head{
    overflow: hidden;
    padding:56px 6.8% 0 6.8% ;
}

.interface-container{
    margin-bottom: 17px;
    float: right;
    width: 46%;
    text-align: right;
    font-size: 18px;
}

.interface-container .ico-text-button{
    font-family: icomoon;
    cursor: pointer;
    margin-left: 5.7%;
}

.main-head-title{
    clear: both;
    font: 28px "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
    padding: 0 6.8%;
    box-sizing: border-box;
}

.sub-title{
    padding: 0 6.8%;
    font: 20px "Roboto", sans-serif;
    text-align: center;
    width: 100%;
    color: #8198ab;
    margin-top: 17px;
    margin-bottom: 76px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.interface-container-2{
    color: #8da5b8;
    float: right;
}

.interface-container-2 .ico-text-button{
    cursor: pointer;
    font: 15px "Roboto", sans-serif;
}


.main-content{
    padding: 0 20.1%;
    padding-right: 12.8%;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.main-content i{
    margin-right: 2.4%;
}
.select-field{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid #8da5b8;
    text-align: center;
    padding-bottom: 4px;
    width: 40%;
}
.minus-count{

}
.option{
    width: 38.8%;
    margin-right: 10.7%;
    display: inline-block;
    margin-bottom: 4.5%;
    box-sizing: border-box;

}
.option label{
    position: relative;
    width: 59%;
}
.minus-count{
    position: absolute;
    left: 3%;
    color: #8da5b8;
    font-size: 11px;
    top: 0;
    font-family: icomoon;
}

.plus-count{
    position: absolute;
    right: 1%;
    color: #8da5b8;
    font-family: icomoon;
    font-size: 11px;
    top: 0;
}

.plus-count:hover{
    color: white;
}
.minus-count:hover{
    color: white;
}
.minus-count:hover + input, .plus-count:hover ~ input {
    border-color: white;
}
.opt-details{
    color: #8198ab;
    margin-top: 12px;
    margin-left: 9.6%;
}
.opt-title{
    display: inline-block;
    width: 40%;
}

.graph h3{
    font: 20px Ptsans, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 9.2%;
}
.button-holder{
    width: 21.2%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.button-1{
    color: white;
    width: 44%;
    padding: 12px 0;
}

.button-2{
    color: white;
    width: 44%;
    padding: 12px 0;
}

/*settings-2*/

/*task-list*/
.sub-title-2{
    width: 46%;
    box-sizing: border-box;
    height: 25px;
    float: right;
}
.interface-container-3{
    float: right;
    color: #8da5b8;
}

.interface-container-3 .ico-text-button{
    cursor: pointer;
    font: 15px "Roboto", sans-serif;
}
.today-list{
    padding: 0 6.7%;
    width: 100%;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
.task{
    height: 87px;
    width: 100%;
    background-color: white;
    line-height: 87px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.6%;
    position: relative;
}
.sorted-list{
    width: 100%;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

.task-buttons-container{
    position: absolute;
    right: 34px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
}

.edit-task{
    color: #cacaca;
    font-family: icomoon;
    cursor: pointer;
    width: 100%;
}

.drag-task{
    color: #cacaca;
    font-family: icomoon;
    cursor: pointer;
    width: 100%;
    display: none;
}

.sorted-list .drag-task{
    display: inline-block;
}

.edit-task:hover{
    color: #88a3b5;
}

.drag-task:hover{
    color: #88a3b5;
}

.sorted-lists-wrapper{
    padding: 30px 6.7% 0 6.7%;
    width: 100%;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

.global-list{
    font-family: icomoon;
    position: relative;
    font-size: 20px;
    color: #8da5b8;
    clear: both;
}


.drop-switch{
    color: #8da5b8;
    display: inline-block;
    font-family: icomoon;
    font-size: 11px;
}

.drop-switch span{
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 20px;
    margin-right: 8px;
    font-weight: bold;
}

.list-header{
    padding-left: 2%;
    font-size: 18px;
    margin-bottom: 1%;
    margin-top: 2%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.list-header-category-mark{
    width: 19px;
    height: 19px;
    position: absolute;
    left: -4px;
    background: url(../img/ico-sprite.png);
    z-index: 9999;
}


.top-block-message{
    font-size: 42px;
    color: #8da5b8;
    width: 100%;
    box-sizing: border-box;
    padding: 0 6.8%;
    text-align: center;
    line-height: 114%;
}

.top-block-empty-arrow{
    font-family: icomoon;
    font-size: 60px;
    text-align: center;
    width: 100%;
    margin-top: 33px;
}
.trash-counter{
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.modal-add-wrap{
    display: block;
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.modal-window{
    font: 14px 'Roboto', sans-serif;
    background-color: #2a3f50;
    margin: 6.4% auto;
    width: 500px;
    padding: 43px 3%;
    color: white;
    box-sizing: border-box;
}

.modal-window-head{
    font-size: 28px;
    text-align: center;
    width: 100%;
    margin-top: 14px;
}

.modal-input-title{
    display: block;
    font: 14px 'Roboto', sans-serif;
    margin-bottom: 14px;
}

.modal-input-field{
    color: #748b9e;
    border-bottom: 1px solid #425869;
    font: 16px 'Roboto', sans-serif;
    padding-bottom: 4px;
    width: 100%;
}

