body{
    background-color: #2a3f50;
    width: 100%;
}
.wrapper{
    max-width: 1366px;
}
.main-head{
    overflow: hidden;
    padding:56px 6.8% 0 6.8% ;
}

.interface-container{
    margin-bottom: 17px ;
    float: right;
    width: 87%;
    text-align: right;
    font-size: 18px;
}

.interface-container .ico-text-button{
    font-family: icomoon;
    cursor: pointer;
    margin-left: 2.4%;
}

.main-head-title{
    clear: both;
    font: 28px "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
}

.sub-title{
    font: 20px "Roboto", sans-serif;
    text-align: center;
    width: 100%;
    color: #8198ab;
    margin-top: 17px;
    margin-bottom: 81px;
    position: relative;
}

.interface-container-2{
    position: absolute;
    right: 0;
    color: #8da5b8;
    top: 0;
}

.interface-container-2 .ico-text-button{
    color: #8da5b8;
    cursor: pointer;
    font: 15px "Roboto", sans-serif;
}


.main-content{
    padding: 0 20.1%;
    padding-right: 12.8%;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.main-content i{
    margin-right: 2.4%;
}
.select-field{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid #8da5b8;
    text-align: center;
    padding-bottom: 4px;
    width: 40%;
}
.minus-count{

}
.option{
    width: 38.8%;
    margin-right: 10.7%;
    display: inline-block;
    margin-bottom: 4.5%;
    box-sizing: border-box;

}
.option label{
    position: relative;
    width: 59%;
}
.minus-count{
    position: absolute;
    left: 3%;
    color: #8da5b8;
    font-size: 11px;
    top: 0;
    font-family: icomoon;
}

.plus-count{
    position: absolute;
    right: 1%;
    color: #8da5b8;
    font-family: icomoon;
    font-size: 11px;
    top: 0;
}

.plus-count:hover{
    color: white;
}
.minus-count:hover{
    color: white;
}
.minus-count:hover + input, .plus-count:hover ~ input {
    border-color: white;
}
.opt-details{
    color: #8198ab;
    margin-top: 12px;
    margin-left: 9.6%;
}
.opt-title{
    display: inline-block;
    width: 40%;
}

.graph h3{
    font: 20px Ptsans, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 9.2%;
}
.button-holder{
    width: 21.2%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.button-1{
    color: white;
    width: 44%;
    padding: 12px 0;
}

.button-2{
    color: white;
    width: 44%;
    padding: 12px 0;
}

/*settings-2*/

/*task-list*/
.sub-title-2{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 50px;
}
.interface-container-3{
    position: absolute;
    right: 0;
    color: #8da5b8;
    top: 0;
}

.interface-container-3 .ico-text-button{
    color: #8da5b8;
    cursor: pointer;
    font: 15px "Roboto", sans-serif;
}
.today-list{
    padding: 0 6.7%;
    width: 100%;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
.today-list li{
    height: 87px;
    width: 100%;
    background-color: white;
    line-height: 87px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.6%;
}

.category{
    height: 100%;
    background-color: black;
    width: 1%;
}

.date{
    color: gray;
    text-align: center;
    width: 8%;
    font-size: 11px;
}

.task-info{
    display: flex;
    flex-wrap: wrap;
    width: 83.8%;
    position: relative;
}

.task-info h2{
    font-size: 19px;
    color: red;
    display: block;
    height: 50%;
    line-height: 57px;
    width: 100%;
    text-align: left;
}
.task-info p{
    color: gray;
    display: inline-block;
    height: 50%;
    line-height: 25px;
    text-align: left;
    font-size: 16px ;
}

.edit-task{
    color: #cacaca;
    position: absolute;
    right: 34px;
    font-family: icomoon;
    cursor: pointer;
    align-self: center;
}

.edit-task:hover{
    color: #88a3b5;
}

.urgency{
    font-family: icomoon;
    color: white;
    width: 7.2%;
    font-size: 49px;
    text-align: center;
    line-height: 87px;
    position: relative;
    background-color: black;
}

.urgent-1{
    background-color: red;
}

.urgency-counter{
    position: absolute;
    left: 3px;
    color: white;
    top: 0;
    right: 0;
    font-size: 30px;
    bottom: 0;
}

.urgency-counter-off{
    display: none;
}

.sorted-lists-wrapper{
    padding: 30px 6.7% 0 6.7%;
    width: 100%;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}