body {
    background-color: #2a3f50;
    width: 100%;
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding-bottom: 2.2%;
    padding-top: 130px;
}

.main-head-title {
    clear: both;
    font: 28px "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
}

.sub-title {
    font: 20px "Roboto", sans-serif;
    text-align: center;
    width: 100%;
    color: #8198ab;
    margin-top: 17px;
    position: relative;
}

.interface-container-2 {
    position: absolute;
    right: 6.7%;
    color: white;
    top: 0;
}

.interface-container-2 .ico-text-button {
    cursor: pointer;
    font: 15px "Roboto", sans-serif;
}

.button-holder {
    width: 21.2%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.button-2 {
    color: white;
    width: 44%;
    padding: 12px 0;
    font: 15px Roboto, sans-serif;
}

/*timer*/

.main-wrapper {
    max-width: 1366px;
    margin: 0 auto;
}

.phases {
    width: 10%;
    /* padding: 0 6.8%; */
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.phase {
    width: 28px;
    height: 23px;
    display: inline-block;
    background: url(../img/tomato.svg) no-repeat;
    margin: 0 5px;
}

.phase-done {
    background: url("../img/tomato_fill.svg") no-repeat;
}

.phase-failed {
    background: url("../img/tomato-failed.svg") no-repeat;
}

.phase-add-active .phase-add {
    display: inline-block;
}

.phase-add {
    font-family: icomoon;
    position: absolute;
    right: -10px;
    color: #8ca4b7;
    line-height: 25px;
    cursor: pointer;
    display: none;
}

.phase-add:hover {
    color: white;
}

.graph-container {
    padding-top: 69px;
}

.back {
    font-family: icomoon;
    position: absolute;
    left: 27px;
    top: 50%;
    bottom: 50%;
    font-size: 41px;
    cursor: pointer;
    display: none;
}

.forward {
    font-family: icomoon;
    position: absolute;
    right: 27px;
    top: 50%;
    bottom: 50%;
    font-size: 41px;
    cursor: pointer;
    display: none;
}

.move-on .back, .move-on .forward {
    display: inline-block;
}

/*graph*/
.timer-outer-circle {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-color: #2a3f50;
    border: 8px solid #ffa841;
    border-radius: 50%;
    display: flex;
    position: relative;
}

.timer-inner-circle {
    height: 150px;
    width: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2a3f50;
    border-radius: 50%;
    color: white;
}

.timer-time {
    font-size: 100px;
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    line-height: 141px;
}

.timer-estimate-points {
    position: absolute;
    bottom: 10px;
    line-height: 24px;
    font-size: 24px;
    width: 100%;
}

.timer {
    background: -webkit-linear-gradient(left, #8da5b8 50%, #2a3f50 50%);
    border-radius: 50%;
    height: 250px;
    position: relative;
    width: 250px;
    -webkit-animation: time 10s steps(20, start) infinite ;
    display: block;
    margin: 0 auto;
    align-self: center;
}

.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    -webkit-animation: mask 10s  steps(10, start) infinite ;
    -webkit-transform-origin: 100% 50%;
}

@-webkit-keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes mask {
    0% {
        background: #2a3f50; /* Background colour */
        -webkit-transform: rotate(0deg);
    }
    50% {
        background: #2a3f50; /* Background colour */
        -webkit-transform: rotate(-180deg);
    }
    50.01% {
        background: #8da5b8; /* Foreground colour */
        -webkit-transform: rotate(0deg);
    }
    100% {
        background: #8da5b8; /* Foreground colour */
        -webkit-transform: rotate(-180deg);
    }
}

​