<body>
<template id="settings-pomodoros-main-block">
    <main class="main-content">
        <div class="option">
            <i style="color: #ffb200" class="fa fa-circle" aria-hidden="true"></i>
            <p class="opt-title">WORK TIME</p>
            <label>
                <span class="plus-count">&#xe900;</span>
                <span class="minus-count">&#xe911;</span>
                <input class="select-field" type="text" value="25 min">
            </label>
            <p class="opt-details">Lorem ipsum dolor sit amet consectetur adipiscing</p>
        </div>
        <div class="option">
            <i style="color: #00d4d9" class="fa fa-circle" aria-hidden="true"></i>
            <p class="opt-title">WORK ITERATION</p>
            <label>
                <span class="plus-count">&#xe900;</span>
                <span class="minus-count">&#xe911;</span>
                <input class="select-field" type="text" value="5">
            </label>
            <p class="opt-details">Lorem ipsum dolor sit amet consectetur adipiscing</p>
        </div>
        <div class="option">
            <i style="color: #59abe3" class="fa fa-circle" aria-hidden="true"></i>
            <p class="opt-title">SHORT BREAK</p>
            <label>
                <span class="plus-count">&#xe900;</span>
                <span class="minus-count">&#xe911;</span>
                <input class="select-field" type="text" value="5 min">
            </label>
            <p class="opt-details">Lorem ipsum dolor sit amet consectetur adipiscing</p>
        </div>
        <div class="option">
            <i style="color: #59abe3" class="fa fa-circle" aria-hidden="true"></i>
            <p class="opt-title">LONG BREAK</p>
            <label>
                <span class="plus-count">&#xe900;</span>
                <span class="minus-count">&#xe911;</span>
                <input class="select-field" type="text" value="45 min">
            </label>
            <p class="opt-details">Lorem ipsum dolor sit amet consectetur adipiscing</p>
        </div>
    </main>
</template>

<template id="settings-categories-main-block">
    <main class="categories-choose-wrap">
        <ul class="categories-choose-list">
            <li><input id="work" type="radio" value="Work" name="ctg1">
                <label class="text-label" for="work">Work</label>
                <label class="label1" for="work"></label>
            </li>
            <li><input id="education" type="radio" value="Education" name="ctg1">
                <label class="text-label" for="education">Education</label>
                <label class="label2" for="education"></label>
            </li>
            <li><input id="hobby" type="radio" value="Hobby" name="ctg1">
                <label class="text-label" for="hobby">Hobby</label>
                <label class="label3" for="hobby"></label>
            </li>
            <li><input id="sport" type="radio" value="Sport" name="ctg1">
                <label class="text-label" for="sport">Sport</label>
                <label class="label4" for="sport"></label>
            </li>
            <li><input id="other" type="radio" value="Other" name="ctg1">
                <label class="text-label" for="other">Other</label>
                <label class="label5" for="other"></label>
            </li>
        </ul>
    </main>
</template>

<template id='settings-template-back_save-buttons'>
    <button class="button-1 button-blue">Back</button>
    <button class="button-2 button-green">Save</button>
</template>

<template id="settings-template-button-next-green">
    <button class="button-2 button-green">Next</button>
</template>

<template id="interface-control-trash-button">
    <button class="ico-text-button">&#xe912</button>
</template>

<template id="task-list-node">
    <li class="task">
        <div class="category"></div>
        <div class="border-category"></div>
        <div class="date">TODAY</div>
        <section class="task-info">
            <h2 class="task-info-title">Lorem ipsum sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
            <div class="task-buttons-container">
                <button class="drag-task">&#xe904;</button>
                <button class="edit-task">&#xe905;</button>
            </div>
        </section>
        <div class="urgency"><p class="urgency-counter"></p></div>
    </li>
</template>

<template id="top-block-today-list">
    <ul class="today-list">

    </ul>
</template>

<template id="bottom-block-sorted-list">
    <li>
        <ul class="sorted-list">
            <li class="list-header"><span class="list-header-category-mark"></span>TITLE</li>

        </ul>
    </li>
</template>

<template id="top-block-today-list-empty">
    <div class="top-block-message">
        <p>Task added,<br> drag it to the top 5 in daily task list</p>
        <p class="top-block-empty-arrow">&#xe901</p>
    </div>
</template>

<template id="top-block-today-list-resolved">
    <div class="top-block-message">
        <p>Excellent,<br>all daily tasks done! :)</p>
    </div>
</template>

<template id="modal-add-task">
    <div class="modal-wrap">
        <form class="modal-window">
            <div class="modal-interface">
                <button class="modal-interface-confirm">&#xe90f</button>
                <button class="modal-interface-cancel">&#xe910</button>
            </div>
            <h2 class="modal-window-head">Add task</h2>
            <label class="modal-input-title" for="title-input">TITLE</label>
            <input class="modal-input-field" id="title-input" type="text" placeholder="Add title here">
            <label class="modal-input-title" for="description-input">DESCRIPTION</label>
            <input class="modal-input-field" id="description-input" type="text" placeholder="Add description here">
            <h3 class="modal-input-title">CATEGORY</h3>
            <ul class="categories-choose-list">
                <li><input id="work" type="radio" value="Work" name="ctg1">
                    <label class="text-label" for="work">Work</label>
                    <label class="label1" for="work"></label>
                </li>
                <li><input id="education" type="radio" value="Education" name="ctg1">
                    <label class="text-label" for="education">Education</label>
                    <label class="label2" for="education"></label>
                </li>
                <li><input id="hobby" type="radio" value="Hobby" name="ctg1">
                    <label class="text-label" for="hobby">Hobby</label>
                    <label class="label3" for="hobby"></label>
                </li>
                <li><input id="sport" type="radio" value="Sport" name="ctg1">
                    <label class="text-label" for="sport">Sport</label>
                    <label class="label4" for="sport"></label>
                </li>
                <li><input id="other" type="radio" value="Other" name="ctg1">
                    <label class="text-label" for="other">Other</label>
                    <label class="label5" for="other"></label>
                </li>
            </ul>
            <label class="modal-input-title" for="deadline-input">DEADLINE</label>
            <input class="modal-input-field" id="deadline-input" type="text" placeholder="Set date">
            <h3 class="modal-input-title">ESTIMATION</h3>
            <ul class="estimation-range">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <h3 class="modal-input-title">PRIORITY</h3>
            <ul class="categories-choose-list">
                <li><input id="urgent" type="radio" value="Urgent" name="ctg11">
                    <label class="text-label" for="urgent">Urgent</label>
                    <label class="label11" for="urgent"></label>
                </li>
                <li><input id="high" type="radio" value="High" name="ctg11">
                    <label class="text-label" for="high">High</label>
                    <label class="label22" for="high"></label>
                </li>
                <li><input id="middle" type="radio" value="Middle" name="ctg11">
                    <label class="text-label" for="middle">Middle</label>
                    <label class="label33" for="middle"></label>
                </li>
                <li><input id="low" type="radio" value="Low" name="ctg11">
                    <label class="text-label" for="low">Low</label>
                    <label class="label44" for="low"></label>
                </li>
            </ul>
        </form>
    </div>
</template>

<template id="modal-edit-task">
    <div class="modal-wrap">
    <form class="modal-window">
        <div class="modal-interface">
            <button class="modal-interface-trash">&#xe912</button>
            <button class="modal-interface-confirm">&#xe90f</button>
            <button class="modal-interface-cancel">&#xe910</button>
        </div>
        <h2 class="modal-window-head">Edit Task</h2>
        <label class="modal-input-title" for="title-input">TITLE</label>
        <input class="modal-input-field" id="title-input" type="text" placeholder="Add title here">
        <label class="modal-input-title" for="description-input">DESCRIPTION</label>
        <input class="modal-input-field" id="description-input" type="text" placeholder="Add description here">
        <h3 class="modal-input-title">CATEGORY</h3>
        <ul class="categories-choose-list">
            <li><input id="work" type="radio" value="Work" name="ctg1">
                <label class="text-label" for="work">Work</label>
                <label class="label1" for="work"></label>
            </li>
            <li><input id="education" type="radio" value="Education" name="ctg1">
                <label class="text-label" for="education">Education</label>
                <label class="label2" for="education"></label>
            </li>
            <li><input id="hobby" type="radio" value="Hobby" name="ctg1">
                <label class="text-label" for="hobby">Hobby</label>
                <label class="label3" for="hobby"></label>
            </li>
            <li><input id="sport" type="radio" value="Sport" name="ctg1">
                <label class="text-label" for="sport">Sport</label>
                <label class="label4" for="sport"></label>
            </li>
            <li><input id="other" type="radio" value="Other" name="ctg1">
                <label class="text-label" for="other">Other</label>
                <label class="label5" for="other"></label>
            </li>
        </ul>
        <label class="modal-input-title" for="deadline-input">DEADLINE</label>
        <input class="modal-input-field" id="deadline-input" type="text" placeholder="Set date">
        <h3 class="modal-input-title">ESTIMATION</h3>
        <ul class="estimation-range">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h3 class="modal-input-title">PRIORITY</h3>
        <ul class="categories-choose-list">
            <li><input id="urgent" type="radio" value="Urgent" name="ctg11">
                <label class="text-label" for="urgent">Urgent</label>
                <label class="label11" for="urgent"></label>
            </li>
            <li><input id="high" type="radio" value="High" name="ctg11">
                <label class="text-label" for="high">High</label>
                <label class="label22" for="high"></label>
            </li>
            <li><input id="middle" type="radio" value="Middle" name="ctg11">
                <label class="text-label" for="middle">Middle</label>
                <label class="label33" for="middle"></label>
            </li>
            <li><input id="low" type="radio" value="Low" name="ctg11">
                <label class="text-label" for="low">Low</label>
                <label class="label44" for="low"></label>
            </li>
        </ul>
    </form>
    </div>
</template>

<template id="modal-remove-task">
    <div class="modal-wrap">
    <div class="modal-window">
        <div class="modal-interface">
            <button class="modal-interface-cancel">&#xe910</button>
        </div>
        <h2 class="modal-window-head">Remove Task</h2>
        <div class="modal-remove-inner-wrapper">
            <p class="remove-submit-msg">Are you sure you want to remove selected task(s)?</p>
            <div class="button-holder-default">
                <button class="button-default button-blue">Cancel</button>
                <button class="button-default button-red">Remove</button>
            </div>
        </div>
    </div>
    </div>
</template>
</body>
<template id="notification-node">
    <li id="notification-" class="">
        <div class="notify-ico "></div>
        <p class="notify-msg">This is just an info notification message!</p>
        <button class="notify-dismiss">&#xe910</button>
    </li>
</template>
