<template id="interface-control-trash-button">
    <button class="ico-text-button">&#xe912</button>
</template>
<template id="task-list-node">
    <li class=" sport low">
        <div class="category"></div>
        <div class="border-category"></div>
        <div class="date">TODAY</div>
        <section class="task-info">
            <h2 class="task-info-title">Lorem ipsum sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
            <div class="task-buttons-container">
                <button class="drag-task">&#xe904</button>
                <button class="edit-task">&#xe905</button>
            </div>
        </section>
        <div class="urgency">&#xe90e<p class="urgency-counter">3</p></div>
    </li>
</template>
<template id="top-block-today-list">
    <ul class="today-list">

    </ul>
</template>
<template id="top-block-today-list-empty">
    <div class="top-block-empty">
        <p>Task added,<br> drag it to the top 5 in daily task list</p>
        <p class="top-block-empty-arrow">&#xe901</p>
    </div>
</template>
<template id="top-block-today-list-resolved">
    <div class="top-block-message">
        <p>Excellent,<br>all daily tasks done! :)</p>
    </div>
</template>