style.
    .wrapper {
        max-width: 1366px;
        padding-top: 131px;
        margin: 0 auto;
    }

    .main-head-title {
        clear: both;
        font: 28px "Roboto", sans-serif;
        font-weight: bold;
        text-align: center;
        width: 100%;
        color: white;
        margin-bottom: 22px;
    }

    .sub-title {
        font: 20px "Roboto", sans-serif;
        text-align: center;
        width: 100%;
        color: #8198ab;
        margin-bottom: 81px;
        position: relative;
    }

    .interface-container-2 {
        position: absolute;
        right: 6.7%;
        top: 0;
        font-size: 15px;
    }

    .interface-container-2 .ico-text-button {
        cursor: pointer;
        font: 15px "Roboto", sans-serif;
    }

.wrapper
    h2.main-head-title Settings
    .sub-title
        | Pomodoros settings
        .interface-container-2
            button#pomodoros-settings.ico-text-button Pomodoros
            |#{''} | #{''}
            button#categories-settings.ico-text-button Categories

