style
    include ../../../Global/style/categories.css



main.categories-choose-wrap
    ul.categories-choose-list
        li
            input#work(type='radio', value='Work', name='ctg1')
            label.text-label(for='work') Work
            label.label1(for='work')
        li
            input#education(type='radio', value='Education', name='ctg1')
            label.text-label(for='education') Education
            label.label2(for='education')
        li
            input#hobby(type='radio', value='Hobby', name='ctg1')
            label.text-label(for='hobby') Hobby
            label.label3(for='hobby')
        li
            input#sport(type='radio', value='Sport', name='ctg1')
            label.text-label(for='sport') Sport
            label.label4(for='sport')
        li
            input#other(type='radio', value='Other', name='ctg1')
            label.text-label(for='other') Other
            label.label5(for='other')
