<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="header.css">
</head>
<body>
<header class="main-head">
    <div class="inner-head">
        <div class="inner-2-head">
            <a href="#"><img class="logo" src="Logo.svg" alt="logo goes here"></a>
            <div class="interface-container">
                <button class="ico-text-button">&#xe90c;</button>
                <button class="ico-text-button">&#xe90b;</button>
                <button class="ico-text-button" id="log_out">&#xe908;</button>
            </div>
        </div>
    </div>
</header>
</body>
</html>