header.main-head
    .inner-head
        .inner-2-head
            a(href='#')
                img.logo(src='Logo.svg', alt='logo goes here')
            .interface-container
                button.ico-text-button &#xe90c;
                button.ico-text-button &#xe90b;
                button#log_out.ico-text-button &#xe908;
