.timeline-container{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 84px;
    display: block;
}
.graph-head {
    font: 20px Ptsans, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 37px;
}
.timeline{
    width: 86.7%;
    background-color: #59abe3;
    height: 11px;
    margin: 0 auto;
    line-height: 11px;
    position: relative;
}

.work{
    background-color: #ffb200;
    height: 100%;
    display: inline-block;
}
.breakk,.longbreakk{
    background-color: #59abe3;
    height: 100%;
    display: inline-block;
}

.time-mark{
    position: absolute;
    left: 0;
    bottom: -34px;
    text-align: center;
    background: #2a3f50;
    color: #62788a;
    font: 12px Roboto, sans-serif;
}

.time-mark span{
    background-color: #02cdd3;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}