.button-holder {
  width: 282px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
#categories-settings,
#settings {
  color: white;
}
.categories-choose-wrap {
  width: 19.8%;
  color: #5b7284;
  margin: 0 auto 7% auto;
  font: 16px "Roboto", sans-serif;
  max-width: 267px;
}
.categories-choose-list {
  padding-left: 14%;
}
.categories-choose-list li {
  margin-bottom: 15%;
  position: relative;
}
.categories-choose-list input {
  display: none;
}
.label1,
.label2,
.label3,
.label4,
.label5 {
  width: 19px;
  height: 19px;
  position: absolute;
  left: -17%;
  top: 0;
  cursor: pointer;
}
.label1 {
  background: url(components/modals/ico-sprite.png) no-repeat 0 -19px;
}
.label2 {
  background: url(components/modals/ico-sprite.png) no-repeat -18px -19px;
}
.label3 {
  background: url(components/modals/ico-sprite.png) no-repeat -36px -19px;
}
.label4 {
  background: url(components/modals/ico-sprite.png) no-repeat -54px -19px;
}
.label5 {
  background: url(components/modals/ico-sprite.png) no-repeat -72px -19px;
}
.text-label {
  border-bottom: 1px solid #5b7284;
  width: 100%;
  display: inline-block;
  padding-bottom: 7px;
  cursor: pointer;
}
input:checked ~ .text-label {
  border-color: white;
  color: white;
}
input:hover ~ .text-label {
  border-color: white;
  color: white;
}
input:checked ~ .label1 {
  background-position: 0 0;
}
input:checked ~ .label2 {
  background-position: -18px 0;
}
input:checked ~ .label3 {
  background-position: -54px 0;
}
input:checked ~ .label4 {
  background-position: -36px 0;
}
input:checked ~ .label5 {
  background-position: -72px 0;
}
.categories-choose-list li:hover {
  border-color: white;
  color: white;
}
