style.
    .logo {
        min-width: 241px;
        width: 17%;
        position: absolute;
        top: 19px;
        left: 6.8%;
        display: none;
    }

    .main-head {
        position: absolute;
        width: 100%;
        background-color: #2a3f50;
        z-index: 9999;
        height: 112px;
    }

    .fixed-main-head{
        position: fixed;
        box-shadow: 0 5px 8px 1px rgba(22, 26, 29, 0.3);
    }
    .fixed-main-head .logo{
        display: block;
    }

    .inner-head {
        max-width: 1366px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .inner-2-head {
        width: 100%;
        padding: 0 6.8%;
        box-sizing: border-box;
        padding-top: 56px;
        overflow: hidden;
        position: relative;
    }

    .visible-logo {
        visibility: visible;
    }

    .interface-container {
        margin-bottom: 17px;
        float: right;
        width: 46%;
        text-align: right;
        font-size: 18px;
    }

    .interface-container .ico-text-button {
        font-family: icomoon;
        cursor: pointer;
        margin-left: 5.7%;
    }
    .active{
        color: white;
    }
    .trash-counter {
        position: absolute;
        bottom: -10px;
        right: -10px;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 14px;
        display: none;
    }


header.main-head.task-list-header
    .inner-head
        .inner-2-head
            a(href='reports')
                img.logo(src='./Global/img/Logo.svg', alt='logo goes here')
            .interface-container
                button#addTask.ico-text-button 
                button#trashOn.ico-text-button
                    | 
                    span.trash-counter
                button#reports.ico-text-button &#xe90c;
                button#settings.ico-text-button  &#xe90b;
                button#log_out.ico-text-button  &#xe908;


