/*categories*/
.work .category {
  border-color: #ffb200;
}
.work .category,
.work .border-category {
  background-color: #ffb200;
}
.work .list-header {
  color: #ffb200;
}
.work .list-header-category-mark {
  background-position: 0 0;
}
.education .category {
  border-color: #00d4d9;
}
.education .category,
.education .border-category {
  background-color: #00d4d9;
}
.education .list-header {
  color: #00d4d9;
}
.education .list-header-category-mark {
  background-position: -18px 0;
}
.sport .category {
  border-color: #b470d0;
}
.sport .category,
.sport .border-category {
  background-color: #b470d0;
}
.sport .list-header {
  color: #b470d0;
}
.sport .list-header-category-mark {
  background-position: -54px 0;
}
.hobby .category {
  border-color: #e16c65;
}
.hobby .category,
.hobby .border-category {
  background-color: #e16c65;
}
.hobby .list-header {
  color: #e16c65;
}
.hobby .list-header-category-mark {
  background-position: -36px 0;
}
.other .category {
  border-color: #59abe3;
}
.other .category,
.other .border-category {
  background-color: #59abe3;
}
.other .list-header {
  color: #59abe3;
}
.other .list-header-category-mark {
  background-position: -72px 0;
}
/*urgency*/
.urgent .urgency {
  background-color: #e16c65;
}
.urgent .task-info-title {
  color: #e16c65;
}
.high .urgency {
  background-color: #ffb200;
}
.high .task-info-title {
  color: #ffb200;
}
.middle .urgency {
  background-color: #fddc43;
}
.middle .task-info-title {
  color: #fddc43;
}
.low .urgency {
  background-color: #1abc9c;
}
.low .task-info-title {
  color: #1abc9c;
}
/*estimation*/
.estimate-1 .estimation-counter:before {
  content: '1';
}
.estimate-2 .estimation-counter:before {
  content: '2';
}
.estimate-3 .estimation-counter:before {
  content: '3';
}
.estimate-4 .estimation-counter:before {
  content: '4';
}
.estimate-5 .estimation-counter:before {
  content: '5';
}
/*states*/
.today-list .done,
.sorted-list .done {
  background-color: #d4d9dc;
}
.done .task-info-title {
  text-decoration: line-through;
}
.done .task-buttons-container {
  visibility: hidden;
}
.trash .category {
  width: 88px;
  font-size: 44px;
  cursor: pointer;
}
/*variables*/
.border-category {
  height: 119%;
  background-color: black;
  width: 1%;
  position: absolute;
  left: 0;
  top: -17px;
  display: none;
}
.sorted-list .border-category {
  display: block;
}
.category {
  height: 100%;
  background-color: black;
  width: 1%;
  position: absolute;
  color: white;
  font-family: icomoon;
  font-size: 0;
  text-align: center;
}
.date {
  color: #a2a2a2;
  text-align: center;
  width: 8%;
  font-size: 11px;
  min-width: 88px;
  font-weight: bold;
}
.task-info {
  display: flex;
  flex-wrap: wrap;
  width: 84.8%;
  position: relative;
  padding-left: 10px;
}
.task-info h2 {
  font: 19px "HelveticaNeue", sans-serif;
  color: red;
  display: block;
  height: 50%;
  line-height: 57px;
  width: 100%;
  text-align: left;
}
.task-info p {
  color: gray;
  display: inline-block;
  height: 50%;
  line-height: 25px;
  text-align: left;
  font: 16px "HelveticaNeue", sans-serif;
}
.urgency {
  font-family: icomoon;
  color: white;
  width: 7.2%;
  font-size: 49px;
  text-align: center;
  line-height: 87px;
  position: relative;
  background-color: black;
  cursor: pointer;
  min-width: 88px;
}
.urgency::before {
  content: '\E90E';
}
.urgency:hover:before {
  content: '\E90D';
}
.urgency:hover .estimation-counter {
  visibility: hidden;
}
.estimation-counter {
  position: absolute;
  left: 0;
  color: white;
  top: 0;
  right: 0;
  font-size: 30px;
  bottom: 0;
  cursor: pointer;
}
/*modal*/
.modal-window .error-field {
  border-bottom-color: red;
}
.button-row-2 {
  color: white;
  width: 44%;
  padding: 12px 0;
  font-family: PTSans, sans-serif;
  font-weight: bold;
}
.button-holder {
  width: 27%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-width: 375px;
}
.button-holder-centered {
  width: 27%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 375px;
}
.button-blue {
  background-color: #59ABE3;
}
.button-blue:hover {
  background-color: #368BC5;
}
.button-blue:active {
  background-color: #82C7E0;
}
.button-green {
  background-color: #1ABC9C;
}
.button-green:hover {
  background-color: #16A085;
}
.button-green:active {
  background-color: #62D3BD;
}
.button-red {
  background-color: #f15a4a;
}
.button-red:hover {
  background-color: #c94d47;
}
.button-red:active {
  background-color: #f99595;
}
.ico-text-button {
  color: #8da5b8;
  position: relative;
}
.ico-text-button:hover {
  color: white;
}
.ico-text-button:active {
  color: #59ABE3;
}
.interface-container-3 .ico-text-button:hover {
  color: white;
}
.tip {
  font-size: 12px;
  background: #ccdce8;
  width: 127px;
  color: #566978;
  font-weight: bold;
  text-align: center;
  height: 30px;
  position: absolute;
  border-radius: 6px;
  line-height: 30px;
}
.tip::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 30px;
  border: 5px solid transparent;
  border-bottom: 5px solid #ccdce8;
}
.tip-in {
  position: relative;
}
.active-tab {
  color: white;
}
body,
html {
  height: 100%;
}
body {
  background-color: #2a3f50;
}
@font-face {
  font-family: icomoon;
  src: url(./Global/fonts/icomoon/icomoon.woff);
}
@font-face {
  font-family: HelveticaLight;
  src: url(./Global/fonts/HelveticaLight/HelveticaLight.eot);
  src: url(./Global/fonts/HelveticaLight/HelveticaLight.eot?#iefix) format("embedded-opentype"), url(./Global/fonts/HelveticaLight/HelveticaLight.woff) format("woff"), url(./Global/fonts/HelveticaLight/HelveticaLight.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: HelveticaBold;
  src: url(./Global/fonts/HelveticaBold/HelveticaBold.eot);
  src: url(./Global/fonts/HelveticaBold/HelveticaBold.eot?#iefix) format("embedded-opentype"), url(./Global/fonts/HelveticaBold/HelveticaBold.woff) format("woff"), url(./Global/fonts/HelveticaBold/HelveticaBold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: HelveticaRegular;
  src: url(./Global/fonts/HelveticaRegular/HelveticaRegular.eot);
  src: url(./Global/fonts/HelveticaRegular/HelveticaRegular.eot?#iefix) format("embedded-opentype"), url(./Global/fonts/HelveticaRegular/HelveticaRegular.woff) format("woff"), url(./Global/fonts/HelveticaRegular/HelveticaRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: HelveticaMedium;
  src: url(./Global/fonts/HelveticaMedium/HelveticaMedium.eot);
  src: url(./Global/fonts/HelveticaMedium/HelveticaMedium.eot?#iefix) format("embedded-opentype"), url(./Global/fonts/HelveticaMedium/HelveticaMedium.woff) format("woff"), url(./Global/fonts/HelveticaMedium/HelveticaMedium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Roboto;
  src: url(./Global/fonts/Roboto/Roboto.eot);
  src: url(./Global/fonts/Roboto/Roboto.eot?#iefix) format("embedded-opentype"), url(./Global/fonts/Roboto/Roboto.woff) format("woff"), url(./Global/fonts/Roboto/Roboto.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: PTsans;
  src: url(./Global/fonts/PTsans/PTsans.eot);
  src: url(./Global/fonts/PTsans/PTsans.eot?#iefix) format("embedded-opentype"), url(./Global/fonts/PTsans/PTsans.woff) format("woff"), url(./Global/fonts/PTsans/PTsans.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
html {
  font-family: HelveticaLight, sans-serif;
}
h1 {
  font-family: HelveticaBold, sans-serif;
}
h2 {
  font-family: HelveticaBold, sans-serif;
}
h3 {
  font-family: HelveticaMedium, sans-serif;
}
p {
  font-family: HelveticaRegular, sans-serif;
}
caption {
  font-family: HelveticaRegular, sans-serif;
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
    font-family: HelveticaLight, sans-serif; /* 1 */
    line-height: 1.15; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
    display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font compiledStyles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}
input:focus{
    outline: none;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus compiledStyles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
    display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button{
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

button:focus{
    outline: none;
}

input{
    background: none;
    border: none;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}
@media screen and (max-width: 768px) {
  body .center-inputs {
    width: 316px;
  }
  body .center-inputs .submit {
    width: 100%;
  }
  body .button-holder {
    width: 80%;
    padding-bottom: 50px;
  }
  body .button-holder .button-row-2 {
    width: 187px;
    padding: 16px 0;
    max-width: 48%;
  }
  body .main-content {
    width: auto;
    padding-left: 0;
    min-width: 0;
  }
  body .main-content .option {
    width: 386px;
    max-width: 90%;
    margin-right: 0;
  }
  body .main-head-title {
    width: auto;
    color: white;
    margin-bottom: 0;
    position: absolute;
    top: 34px;
    left: 36px;
  }
  body .interface-container-2 {
    top: -33px;
  }
  body .categories-choose-wrap {
    width: 77%;
    max-width: none;
  }
  body .categories-choose-wrap .categories-choose-list {
    padding-left: 0;
  }
  body .categories-choose-wrap .categories-choose-list li {
    margin-bottom: 36px;
  }
  body .categories-choose-wrap .label1,
  body .categories-choose-wrap .label2,
  body .categories-choose-wrap .label3,
  body .categories-choose-wrap .label4,
  body .categories-choose-wrap .label5 {
    left: -23px;
  }
  body .task-info-title {
    font-size: 1rem;
  }
  body .task-info-title p {
    font-size: 0.8rem;
  }
  body .list-header {
    padding-left: 15px;
    margin-bottom: 3%;
    margin-top: 4%;
  }
  body .list-header-category-mark {
    left: -7px;
  }
  body .inner-2-head {
    padding-top: 38px;
  }
  body .inner-2-head .interface-container {
    margin-bottom: 35px;
    font-size: 28px;
    width: 59%;
  }
  body .task-list-header img {
    display: none;
  }
  body .task-list-header .interface-container {
    width: 100%;
  }
  body .modal-window {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 41px 9%;
    overflow-y: auto;
  }
  body .categories-choose-list {
    padding-bottom: 8px;
  }
  body .modal-input-title {
    margin-bottom: 20px;
    margin-top: 15px;
  }
  body .modal-input-field {
    padding-bottom: 11px;
    margin-bottom: 25px;
  }
  body .modal-interface {
    padding: 6px 9%;
  }
  body .modal-interface .modal-interface-confirm,
  body .modal-interface .modal-interface-cancel,
  body .modal-interface .modal-interface-trash {
    font-size: 26px;
  }
  body .timer-title {
    position: static;
    margin-top: 10px;
  }
  body .phases {
    width: 50%;
  }
  body .phases .phase {
    width: 34px;
    height: 34px;
  }
}
@media screen and (max-width: 1024px) {
  body .main-content {
    width: 100%;
    max-width: 1200px;
    min-width: 0;
  }
  body .interface-container {
    font-size: 1.5rem;
  }
}
.notification-wrap-bottom {
  position: fixed;
  bottom: 30px;
  z-index: 30000;
  width: 100%;
  left: 0;
  box-sizing: border-box;
}
.notification-wrap-bottom-inner {
  width: 100%;
  overflow: hidden;
  max-width: 1366px;
  margin: 0 auto;
}
#notification-body {
  float: right;
  width: 33%;
  margin-right: 6.8%;
}
#notification-body li {
  height: 52px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  position: relative;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 6.8% 5px 0;
  box-shadow: 0 18px 30px 1px rgba(0, 0, 0, 0.2);
}
#notification-body li {
  margin: 0 0 5px 0;
}
.notify-ico {
  font-family: icomoon;
  width: 67px;
  height: 52px;
  color: white;
  font-size: 38px;
  text-align: center;
  line-height: 52px;
  background-color: black;
  display: inline-block;
  margin-right: 9px;
}
.notify-msg {
  font: 1rem 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  line-height: 52px!important;
  vertical-align: middle;
}
.notify-dismiss {
  color: white;
  position: absolute;
  right: 1.1%;
  font-family: icomoon;
  font-size: 25px;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
.info-pomodora-type {
  background-color: #59abe3;
}
.info-pomodora-type .notify-ico {
  background-color: #7abce9;
}
.info-pomodora-type .notify-ico::before {
  content: '\E916';
}
.warning-pomodora-type {
  background-color: #ffa841;
}
.warning-pomodora-type .notify-ico {
  background-color: #ffb967;
}
.warning-pomodora-type .notify-ico::before {
  content: '\E915';
}
.success-pomodora-type {
  background-color: #1abc9c;
}
.success-pomodora-type .notify-ico {
  background-color: #48c9b0;
}
.success-pomodora-type .notify-ico::before {
  content: '\E913';
}
.fail-pomodora-type {
  background-color: #f75c4c;
}
.fail-pomodora-type .notify-ico {
  background-color: #f97d70;
}
.fail-pomodora-type .notify-ico::before {
  content: '\E914';
}
