.wrapper
    h2.main-head-title Report
    main.main-wrapper
        .interface-container-2
            button#day_tab.ico-text-button.active-tab Day
            |             |
            button#week_tab.ico-text-button Week
            |             |
            button#month_tab.ico-text-button Month
        #report-graph.graph-container
        .interface-container-3
            button.ico-text-button Pomodoros
            |             |
            button.ico-text-button.active-tab Tasks
