style.
    .wrapper {
        max-width: 1366px;
        padding-top: 90px;
        margin: 0 auto;
        padding-bottom: 2.2%;
    }

    .logo {
        display: none;
    }

    .main-head-title {
        clear: both;
        font: 28px "Roboto", sans-serif;
        font-weight: bold;
        text-align: center;
        width: 100%;
        color: white;
    }

    .button-holder {
        width: 21.2%;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
    }

    .interface-container-2, .interface-container-3 {
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-bottom: 104px;
        color: #8da5b8;
    }

    .interface-container-2 .ico-text-button, .interface-container-3 .ico-text-button {
        cursor: pointer;
        font: 15px "Roboto", sans-serif;
        margin: 0 6px;
    }

    .interface-container-3 {
        margin-bottom: 0;
    }

    .main-head-title {
        clear: both;
        font: 28px "Roboto", sans-serif;
        font-weight: bold;
        text-align: center;
        width: 100%;
        color: white;
        margin-bottom: 28px;
    }

    .graph-container {
        margin: 0 auto;
        width: 100%;
        max-width: 650px;
        height: 290px;
        margin-bottom: 77px;
        font-family: Roboto;
    }

    .active-tab {
        color: white;
    }

     #reports {
        color: white;
    }

.wrapper
    h2.main-head-title Report
    main.main-wrapper
        .interface-container-2
            button#day_tab.ico-text-button.active-tab Day
            |             |
            button#week_tab.ico-text-button Week
            |             |
            button#month_tab.ico-text-button Month
        #report-graph.graph-container
        .interface-container-3
            button.ico-text-button Pomodoros
            |             |
            button.ico-text-button.active-tab Tasks
