header.main-head.task-list-header
    .inner-head
        .inner-2-head
            a(href='reports')
                img.logo(src='./Global/img/Logo.svg', alt='logo goes here')
            .interface-container
                button#addTask.ico-text-button 
                button#trashOn.ico-text-button
                    | 
                    span.trash-counter
                button#reports.ico-text-button &#xe90c;
                button#settings.ico-text-button  &#xe90b;
                button#log_out.ico-text-button  &#xe908;


