style
    include ../../../Global/style/addTask.css



.modal-wrap
    form.modal-window
        .modal-interface
            button#modal-remove.modal-interface-trash &#xe912
            button#modal-confirm-edit.modal-interface-confirm &#xe90f
            button#modal-close.modal-interface-cancel &#xe910
        h2.modal-window-head Edit Task
        label.modal-input-title(for='title-input') TITLE
        input#title-input.modal-input-field(type='text', placeholder='Add title here',value=data.title)
        label.modal-input-title(for='description-input') DESCRIPTION
        input#description-input.modal-input-field(type='text', placeholder='Add description here',value=data.description)
        h3.modal-input-title CATEGORY
        ul.categories-choose-list
            li
                input#work(type='radio', value='Work', name='ctg1')
                label.text-label(for='work') Work
                label.label1(for='work')
            li
                input#education(type='radio', value='Education', name='ctg1')
                label.text-label(for='education') Education
                label.label2(for='education')
            li
                input#hobby(type='radio', value='Hobby', name='ctg1')
                label.text-label(for='hobby') Hobby
                label.label3(for='hobby')
            li
                input#sport(type='radio', value='Sport', name='ctg1')
                label.text-label(for='sport') Sport
                label.label4(for='sport')
            li
                input#other(type='radio', value='Other', name='ctg1')
                label.text-label(for='other') Other
                label.label5(for='other')
        label.modal-input-title(for='deadline-input') DEADLINE
        input.datepicker#deadline-input.modal-input-field(type='text', placeholder='Set date',value=data.deadline.fullDate)
        h3.modal-input-title ESTIMATION
        ul.estimation-range
            li
            li
            li
            li
            li
        h3.modal-input-title PRIORITY
        ul.categories-choose-list
            li
                input#urgent(type='radio', value='Urgent', name='ctg11')
                label.text-label(for='urgent') Urgent
                label.label11(for='urgent')
            li
                input#high(type='radio', value='High', name='ctg11')
                label.text-label(for='high') High
                label.label22(for='high')
            li
                input#middle(type='radio', value='Middle', name='ctg11')
                label.text-label(for='middle') Middle
                label.label33(for='middle')
            li
                input#low(type='radio', value='Low', name='ctg11')
                label.text-label(for='low') Low
                label.label44(for='low')

